# **Task P5** (Due April 24, 11 AM)
## Cleaning the Avocado Data

##### This task uses the avocado dataset. The dataset contains historical data on avocado prices and sales volume in multiple U.S. markets. One of the columns in this dataset, Unnamed: 0, contains sequential numbers that are irrelevant to analyzing this data. Three of the other columns contain sales for PLU (price look-up) codes 4046, 4225, and 4770. These columns will not be used in this task. If you review the data, you’ll see that some of the regions overlap. For example, one of the regions is the entire U.S., and all of the other regions are parts of the U.S. Because of that, you would need to review this data carefully before determining the best way to analyze it. For the purposes of this task though, the overlapping regions won’t be taken into consideration.

##### https://www.kaggle.com/neuromusic/avocado-prices

<img src="avocado-logo.png" alt="SIT112 Avocado!" width="1800" height="200">

### A. Instructions

1. Complete this task without looking at the solution provided to you. 
2. You can then look at the solution provided to you and compare it against yours.
3. Complete and submit the TaskCompletionReport in PDF format using Ontrack. You can do this by the end of Week 12, but feedback will only be provided for submissions received by 11 AM on the due date.   
4. Do **not** include the solution (yours or the one provided to you) in your submission.
5. The workshops are the primary venue for you to seek help if you need any clarification/assistance. The tutors are there to help you complete and submit the tasks. Please avoid emailing your code or screenshots to the tutors outside workshop hours. 
6. Consider using online resources such as ChatGPT to strengthen your understanding of the task. 

Good luck :)

In [1]:
import pandas as pd
import seaborn as sns

### B. Write Python code that performs (answers) the following operations (questions)

##### 1.	Read the data from the CSV file into a DataFrame and display the first five rows.

In [2]:
# write your code here
data = pd.read_csv('avocado.csv')
data.head(5)

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

##### 2.	Use the info() function to check if any of the columns have missing values. Explain how this cane be achieved.

In [22]:
# write your code here
data.info(verbose=True, memory_usage='deep', show_counts=True)
# there are no missing values in the any columns. We can come to know about this by looking at the RangeIndex and the non-null count.
# the RangeIndex is showing 18249 entries in total and the Non-Null count for all the columns are also 18249, which shows that there are no missing values in any columns.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18249 entries, 0 to 18248
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    18249 non-null  int64
 1   Date          18249 non-null  object
 2   AveragePrice  18249 non-null  float64
 3   Total Volume  18249 non-null  float64
 4   4046          18249 non-null  float64
 5   4225          18249 non-null  float64
 6   4770          18249 non-null  float64
 7   Total Bags    18249 non-null  float64
 8   Small Bags    18249 non-null  float64
 9   Large Bags    18249 non-null  float64
 10  XLarge Bags   18249 non-null  float64
 11  type          18249 non-null  object
 12  year          18249 non-null  int64
 13  region        18249 non-null  object
dtypes: float64(9), int64(2), object(3)
memory usage: 5.0 MB

##### 3. Is there any other way we can check the missing values in the columns - without using info()? Write Python code for this. Hint: use isna()

In [23]:
# write your code here
# you can ask ChatGPT :)
missing_values = data.isna().sum()
print("The number of missing values")
print(missing_values)

# using isna() to find whether there are any missing values in each column. It returns true if any corresponding element in the dataframe is NaN (missing) and takes a count of the missing value, and returns false otherwise.
# using sum() we can find the total number of missing values in each column.

The number of missing values
Unnamed: 0      0
Date            0
AveragePrice    0
Total Volume    0
4046            0
4225            0
4770            0
Total Bags      0
Small Bags      0
Large Bags      0
XLarge Bags     0
type            0
year            0
region          0
dtype: int64

##### 4.	Display the unique values in the region column, and notice that one of the regions is TotalUS.

In [24]:
# write your code here
data['region'].unique()

array(['Albany', 'Atlanta', 'BaltimoreWashington', 'Boise', 'Boston',
       'BuffaloRochester', 'California', 'Charlotte', 'Chicago',
       'CincinnatiDayton', 'Columbus', 'DallasFtWorth', 'Denver',
       'Detroit', 'GrandRapids', 'GreatLakes', 'HarrisburgScranton',
       'HartfordSpringfield', 'Houston', 'Indianapolis', 'Jacksonville',
       'LasVegas', 'LosAngeles', 'Louisville', 'MiamiFtLauderdale',
       'Midsouth', 'Nashville', 'NewOrleansMobile', 'NewYork',
       'Northeast', 'NorthernNewEngland', 'Orlando', 'Philadelphia',
       'PhoenixTucson', 'Pittsburgh', 'Plains', 'Portland',
       'RaleighGreensboro', 'RichmondNorfolk', 'Roanoke', 'Sacramento',
       'SanDiego', 'SanFrancisco', 'Seattle', 'SouthCarolina',
       'SouthCentral', 'Southeast', 'Spokane', 'StLouis', 'Syracuse',
       'Tampa', 'TotalUS', 'West', 'WestTexNewMexico'], dtype=object)

##### 5.	Drop rows that have a region of TotalUS, and then check to see how many rows were dropped.

In [11]:
data = pd.read_csv('avocado.csv')
print("Number of rows before dropping: ",len(data))

data1 = data.query('region != "TotalUS"')
data1 = data[data.region != 'TotalUS']

print("Number of rows after dropping: ",len(data1))

dropped_rows = len(data) - len(data1)

print("Number of rows dropped: ",dropped_rows )

data1['region'].unique()

Number of rows before dropping:  18249
Number of rows after dropping:  17911
Number of rows dropped:  338

array(['Albany', 'Atlanta', 'BaltimoreWashington', 'Boise', 'Boston',
       'BuffaloRochester', 'California', 'Charlotte', 'Chicago',
       'CincinnatiDayton', 'Columbus', 'DallasFtWorth', 'Denver',
       'Detroit', 'GrandRapids', 'GreatLakes', 'HarrisburgScranton',
       'HartfordSpringfield', 'Houston', 'Indianapolis', 'Jacksonville',
       'LasVegas', 'LosAngeles', 'Louisville', 'MiamiFtLauderdale',
       'Midsouth', 'Nashville', 'NewOrleansMobile', 'NewYork',
       'Northeast', 'NorthernNewEngland', 'Orlando', 'Philadelphia',
       'PhoenixTucson', 'Pittsburgh', 'Plains', 'Portland',
       'RaleighGreensboro', 'RichmondNorfolk', 'Roanoke', 'Sacramento',
       'SanDiego', 'SanFrancisco', 'Seattle', 'SouthCarolina',
       'SouthCentral', 'Southeast', 'Spokane', 'StLouis', 'Syracuse',
       'Tampa', 'West', 'WestTexNewMexico'], dtype=object)

##### 6.	Drop the Unnamed: 0, 4046, 4225, and 4770 columns.

In [16]:
# write your code here
data1.drop(columns=['Unnamed: 0','4225','4770'], errors='raise', inplace=True)
data1.drop(columns=['4046'], errors='raise', inplace=True)

KeyError: "['Unnamed: 0', '4225', '4770'] not found in axis"

In [17]:
data1.nunique()
# This says that the columns specified on top are dropped. That is why it is not visible when the data1.nunique() is run, we are
# not able to see those dropped columns.

# This error "['Unnamed: 0', '4225', '4770'] not found in axis" is shown because i tried to run the code again after the columns 
# were successfully removed. that is why it says that the columns are not found because they are already removed.

Date              169
AveragePrice      259
Total Volume    17899
Total Bags      17759
Small Bags      16983
Large Bags      14744
XLarge Bags      5417
type                2
year                4
region             53
dtype: int64

##### 7.	Convert the Date column to the DateTime type.

In [77]:
df = pd.DataFrame(data1)
print("Date before conversion")
date_column = df['Date']
print("Data type: ",df['Date'].dtypes)

display(date_data.head(5))

df2 = pd.DataFrame(data1)
print("Date after conversion")
df2['Date'] = df2['Date'].apply(pd.to_datetime)
print("Data type: ",df2['Date'].dtypes)

display(date_data.head(5))

Date before conversion
Data type:  object

0   2015-12-27
1   2015-12-20
2   2015-12-13
3   2015-12-06
4   2015-11-29
Name: Date, dtype: datetime64[ns]

Date after conversion
Data type:  datetime64[ns]

0   2015-12-27
1   2015-12-20
2   2015-12-13
3   2015-12-06
4   2015-11-29
Name: Date, dtype: datetime64[ns]

##### 8.	Check that these changes have been applied to the DataFrame.

In [79]:
# write your code here
df2

,Date,AveragePrice,Total Volume,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,2015-12-27,1.33,64236.62,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,2015-12-20,1.35,54876.98,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2015-12-13,0.93,118220.22,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,2015-12-06,1.08,78992.15,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,2015-11-29,1.28,51039.60,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...
18244,2018-02-04,1.63,17074.83,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
18245,2018-01-28,1.71,13888.04,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
18246,2018-01-21,1.87,13766.76,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
18247,2018-01-14,1.93,16205.22,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
18248,2018-01-07,1.62,17489.58,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [81]:
df2.info()
#now the Date column's datatype has changed to datetime

<class 'pandas.core.frame.DataFrame'>
Index: 17911 entries, 0 to 18248
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          17911 non-null  datetime64[ns]
 1   AveragePrice  17911 non-null  float64
 2   Total Volume  17911 non-null  float64
 3   Total Bags    17911 non-null  float64
 4   Small Bags    17911 non-null  float64
 5   Large Bags    17911 non-null  float64
 6   XLarge Bags   17911 non-null  float64
 7   type          17911 non-null  object
 8   year          17911 non-null  int64
 9   region        17911 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(1), object(2)
memory usage: 1.5+ MB